.container {
    width: 100%;
    text-align: center;
}

.game__alert {
    text-align: center;
    color: crimson;
}

.restart {
    text-align: center;
    color: blue;
}

.hidden {
    display: none;
}

canvas {
    background: #D6EEFF; /* Pale Winter Sky Blue */
    border-style: solid;
    border-color: black;
    border-width: 2px;
}