.container {
    width: 100%;
    text-align: center;
}

.game__alert {
    text-align: center;
    color: crimson;
}

.restart {
    text-align: center;
    color: blue;
}

.hidden {
    display: none;
}

canvas {
    background: #E6E6F6; /* Winter Gray */
}